<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/CBMS_V1</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">admin</property>
        
        <mapping class="com.cbms.model.entity.Customer" />
        <mapping class="com.cbms.model.entity.LoginUser" />
        <mapping class="com.cbms.model.entity.ProductCatalog" />
        <mapping class="com.cbms.model.entity.SaleInvDetail" />
        <mapping class="com.cbms.model.entity.SaleInvHeader" />
        <mapping class="com.cbms.model.entity.SysUser" />
        <mapping class="com.cbms.model.entity.UserRole" />
        <mapping class="com.cbms.model.entity.UserType" />
        
    </session-factory>
</hibernate-configuration>
